<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
    <!--  <h2 ion-text class="text-white" no-margin>
        ion<strong>Booking</strong>
      </h2> -->
    </div>

    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form" (submit)="submit($event)">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-white"></ion-icon>
          Nome Completo
        </ion-label>
        <ion-input type="text" formControlName="fullName" [(ngModel)]="model.fullName"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('fullName').touched && onRegisterForm.get('fullName').hasError('required')">Este campo é obrigatório</p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-white"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" formControlName="email" [(ngModel)]="model.email" ></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">Este campo é obrigatório</p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-white"></ion-icon>
          Senha
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="secondary" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">Este campo é obrigatório</p>

      <ion-item>
        <ion-label floating>
          <ion-icon name="call" item-start class="text-white"></ion-icon>
          Telefone
        </ion-label>
        	<ion-input type="text" formControlName="celphone"  ></ion-input>
      </ion-item>
      <p ion-text color="danger" class="secondary" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">Este campo é obrigatório</p>

    </form>

    <div margin-top>
      <button ion-button block color="secondary" tappable (click)="register()" [disabled]="!onRegisterForm.valid">
        CADASTRAR
      </button>
<!--
      <p text-center ion-text color="light">Ou faça login via as opções abaixo:</p>

      <ion-grid class="btn-group">
        <ion-row>
          <button ion-button icon-only block class="btn-facebook col col-4">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
          <button ion-button icon-only block class="btn-twitter col col-4">
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
          <button ion-button icon-only block class="btn-gplus col col-4">
            <ion-icon name="logo-googleplus"></ion-icon>
          </button>
        </ion-row>
      </ion-grid> -->
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="light" tappable (click)="login()">Voltar</span>
    </div>

  </div>
</ion-content>
